* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-color: #F2F2F2;;
}
:root{
    --nav-primary-bg:#2A2E33;
    --nav-secondary-bg:#28313E;
    --nav-accent:#8F96CA;
    --nav-active:#37B44A;
    --nav-text:#FFFFFF;
}

main{
    margin:5rem 0;  
}

main  p{
    margin: 3rem;
}

main h1{
    width: 100vw;
    text-align: center;
}

.navbar {
    background-color: #fff1;
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    
}

.navbar a {
    color: #000;
    text-decoration: none;
}

.navbar_menu a:hover{
    color:orangered;
    border-bottom: 3px solid orangered;
    width: 100%;
  }

  .navbar_menu .active {
    color:orangered;
    transition: 0.5s ease;
  }

.navbar_menu{
    display: flex;
}

.nav-link{
    padding: 0 1.5rem;
    list-style: none;
    
}

.navbar_menu .nav-link{
    list-style: none;
    font-size: .9rem;
    font-weight: 400;
}

.navbar_menu  .nav-link a{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    text-align: center;
    font-size: 1.3rem;
}

.navbar_logo{
    /* background-color: #fff1; */
    position: fixed;
    top: 0;
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 600;

}
.navbar_logo a{
    color: #000;
}
.navbar_logo span{
    color: orangered;
}

.hamburger{
    display: flex;
    flex-direction: column;
    color: var(--nav-text);
    font-size: .7rem;
    cursor: pointer;
    padding: 0 1.5rem;
}

.hamburger .fa-solid{
    font-size: 1.3rem;
    text-align: center;
}

#toggle{
    display: none;
}

#toggle:checked + .navbar_sub-menu{
    display: block;
}



.navbar_sub-menu{
    display: none;
    position: fixed;
    background-color: var(--nav-secondary-bg);
    right: 0;
    bottom: 3rem;
    width: 40vw;
    padding: 1rem 0rem ;
}

.navbar_sub-menu .nav-link{
    margin-top: 1rem;
}

.navbar_sub-menu a{
    color: orangered;
}

  /* ==========================================HERO SECTION========================================== */
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F2F2F2;
    height: 100vh;
  }
  
 .hero::after{
  content: '';
  width: 100%;
  height: 100%;
  background:linear-gradient(rgba(0, 0, 0, 0.30), rgba(0,0,0,0.30)),url('../images/IMG-9436.JPG');
background-size: contain;
background-position: right;
background-repeat: no-repeat;
  position: absolute;
  z-index: 1;
  clip-path: polygon(75% 0%, 100% 0%, 100% 100%, 25% 100%, 50% 50%);
 }

  .hero-content {
    width: 60%;
    padding-left: 50px;
    padding-bottom: 170px;
    
  }
  
  .hero-heading {
    font-size: 3.3rem;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
  }
  
  .hero-subheading {
    font-size: 1.4rem;
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-style: normal;
  }

  .hero-content span{
    color: orangered;
  }
  
  .hero-button {
    display: inline-block;
    font-family: 'Work Sans', sans-serif;
    padding: 14px 28px;
    border: none;
    background-color: orangered;
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .hero-button:hover {
    background: linear-gradient(to right, #fc4a1a,#f7b733);
  }
  
  .hero-image {
    width: 40%;
    margin-right: 380px; 
    margin-top: 50px;
    z-index: 2;
    
  }
  
  .hero-image img {
    display: block;
    height: auto;
    width: 700px;
    
  }

 


  @media only screen and (max-width: 480px){

    body {
        overflow: hidden;
      }
      
    .navbar{
       background-color: var(--nav-secondary-bg);
       height: 4rem;
  }
  .navbar a{
      color: #ffffff;
  }
.navbar_menu .nav-link,
.hamburger{
    font-size: 1rem;
}
  
  .navbar_menu .active {
    color:#ffffff;
    
  }
  .navbar_logo{
    height: 5rem;
    font-size: 2.5rem;
    background-color: var(--nav-secondary-bg);
  }
  .navbar_logo a{
      color: #ffffff;
  }

  .icon,
  .icons{
      padding-bottom: 3px;
  }
    .hero {
      flex-direction: column;
      height: auto;
      padding-bottom: 0;
      
    }
  
    .hero::after {
      display: none;
    }
  
    .hero-content {
      width: 100%;
      padding: 150px 0 50px;
      text-align: center;
    }
  
    .hero-heading {
      font-size: 2.5rem;
      margin-bottom: 10px;
    }
  
    .hero-subheading {
      font-size: 1.2rem;
      margin-bottom: 40px;
      padding: 0 5px;
    }
  
    .hero-image {
      width: 90%;
      margin: 0;
    }
  
    .hero-image img {
        content: url('../images/IMG_9083.JPG');
        max-width: 100%;
        height: auto;
        width: auto;
        border-radius: 16px;
      }
  }
  



@media only screen and (min-width: 850px) {

    .navbar{
        top: 0;
        justify-content: space-around;
    }

    .navbar_logo{
        width: auto;
        position: relative;
        font-size: 2rem;
        /* background-color: #0001; */
    }

    .hamburger{
        display: none;
    }
    .navbar_sub-menu{
        display: flex;
        position: relative;
        width: auto;
        bottom: inherit;
        background-color: #0001;
        padding: inherit;
        height: 3rem;
    }
    .navbar_menu .nav-link a{
        display:flex;
        flex-direction: row;

    }
    .navbar_menu .nav-link .icon{
        font-size: 1rem;
        padding-right: 10px;
    }

    .nav-link{
        font-size: 1rem;
        padding: 0 1rem;
        display: flex;
    }
    .navbar_menu  .nav-link{
        font-size: 1.2rem;
        padding: 0 1.5rem;
        display: flex;
    }
    
}

